In [1]:
import numpy as np

In [2]:
def euclid_dist(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

def knn(X,Y,query_point,k=5):
    
    dist_values=[]
    m=X.shape[0]
    
    for i in range(m):
        d=euclid_dist(query_point,X[i])
        dist_values.append((d,Y[i]))#(distance,label)
    dist_values=sorted(dist_values)
    #Nearest /First K points
    dist_values=dist_values[:24]
    vals=np.array(dist_values)
    new_vals=np.unique(vals[:,1],return_counts=True)
    print(new_vals[0][new_vals[1].argmax()]) #new_vals[1].argmax() will give the index of maximum frquency oflabel 
    return new_vals[0][new_vals[1].argmax()]

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv(r"C:\Users\lmd\Documents\Data-Science\Training Data\Diabetes_XTrain.csv")
dfy=pd.read_csv(r"C:\Users\lmd\Documents\Data-Science\Training Data\Diabetes_YTrain.csv")
dfxtest=pd.read_csv(r"C:\Users\lmd\Documents\Data-Science\Training Data\Diabetes_Xtest.csv")

In [5]:
df.head(n=5)
# print(dfxtest.head(n=5))

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [6]:
dfxtest.head(n=5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [7]:
print(df.columns)
print(df.shape)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')
(576, 8)

In [8]:
X=df.values
X_test=dfxtest.values
Y=dfy.values

In [9]:
print(X[0])
print(X_test[0])

[  7.    168.     88.     42.    321.     38.2     0.787  40.   ]
[  0.    180.     90.     26.     90.     36.5     0.314  35.   ]

In [10]:
Y=Y.reshape((-1,))

In [11]:
Y.shape

(576,)

In [12]:
m=X_test.shape[0]
print(m)

192

In [13]:
Output=[]
for i in range(m):
    Output.append(knn(X,Y,X_test[i],k=5))

0.0
0.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
1.0
0.0
1.0
0.0
0.0
0.0
0.0
1.0
1.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
0.0
1.0
0.0
0.0
0.0
1.0
0.0
0.0
1.0
0.0
1.0
0.0
1.0
0.0
0.0
1.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
0.0
0.0
1.0
1.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
0.0
0.0
0.0
1.0
0.0
1.0
0.0
0.0
1.0
0.0
1.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
1.0
0.0
1.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
1.0
0.0
0.0
1.0
0.0
1.0
1.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0
1.0
1.0
1.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
1.0
1.0
0.0
0.0
1.0
0.0
1.0
0.0
0.0
0.0
0.0
1.0
0.0
0.0

In [14]:
Output

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0]

In [15]:
knn(X,Y,X_test[5],k=5)

0.0

0.0

In [16]:
my_df = pd.DataFrame({'Output':Output})

In [17]:
my_df

     Output
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       1.0
7       0.0
8       0.0
9       0.0
10      1.0
11      0.0
12      1.0
13      0.0
14      0.0
15      0.0
16      0.0
17      1.0
18      1.0
19      1.0
20      0.0
21      0.0
22      0.0
23      0.0
24      0.0
25      0.0
26      0.0
27      0.0
28      0.0
29      0.0
..      ...
162     0.0
163     0.0
164     0.0
165     0.0
166     0.0
167     0.0
168     0.0
169     0.0
170     0.0
171     1.0
172     0.0
173     0.0
174     0.0
175     0.0
176     0.0
177     0.0
178     1.0
179     1.0
180     0.0
181     0.0
182     1.0
183     0.0
184     1.0
185     0.0
186     0.0
187     0.0
188     0.0
189     1.0
190     0.0
191     0.0

[192 rows x 1 columns]

In [18]:
my_df.to_csv('diab.csv', index=False)

In [19]:
pd.read_csv('diab.csv')

     Output
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       1.0
7       0.0
8       0.0
9       0.0
10      1.0
11      0.0
12      1.0
13      0.0
14      0.0
15      0.0
16      0.0
17      1.0
18      1.0
19      1.0
20      0.0
21      0.0
22      0.0
23      0.0
24      0.0
25      0.0
26      0.0
27      0.0
28      0.0
29      0.0
..      ...
162     0.0
163     0.0
164     0.0
165     0.0
166     0.0
167     0.0
168     0.0
169     0.0
170     0.0
171     1.0
172     0.0
173     0.0
174     0.0
175     0.0
176     0.0
177     0.0
178     1.0
179     1.0
180     0.0
181     0.0
182     1.0
183     0.0
184     1.0
185     0.0
186     0.0
187     0.0
188     0.0
189     1.0
190     0.0
191     0.0

[192 rows x 1 columns]