In [1]:
import pandas as pd

In [2]:
df_id=pd.read_csv(r'C:\Users\lmd\Documents\Jokes_Challenge_testcases\ID.csv')

In [3]:
df_id.head()

   ID
0   1
1   2
2   3
3   4
4   5

In [4]:
Id=df_id['ID']
Id=list(Id)
print(Id)

[1, 2, 3, 4, 5, 6, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 140, 141, 142, 143, 144, 145, 146, 147, 149, 150, 151, 153, 154, 155, 156, 157, 158, 159, 160, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 438, 439, 440, 441, 442, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

In [5]:
df_sample=pd.read_csv(r'C:\Users\lmd\Documents\Jokes_Challenge_testcases\sample.csv')

In [6]:
df_sample.head()

    ID                                               Joke
0   97  Chuck Norris doesn't throw up if he drinks too...
1   98  In the beginning there was nothing...then Chuc...
2   99  Chuck Norris has 12 moons. One of those moons ...
3  100  Chuck Norris grinds his coffee with his teeth ...
4  101  Archaeologists unearthed an old english dictio...

#### What is urllib?
- Urllib is a python module that can be used for opening URLs. It defines functions and classes to help in URL actions.
__Python urllib__
- We can use Python urllib to get website content in python program.
- We can also use it to call REST web services.
- We can make GET and POST http requests.
- This module allows us to make HTTP as well as HTTPS requests.
- We can send request headers and also get information about response headers.

In [7]:
from urllib.request import urlopen
import json

In [8]:
dict_joke={}

In [9]:
api_url="http://api.icndb.com/jokes/{}"

In [15]:
# There are two methods of data transfer with urls, and they are GET and POST. The natural method is a GET request, which means you make a request and you get data.
# The other is POST, where you send data into the server, like you post some data, and you get a request based on the post
url_result=urlopen(api_url.format(15))
data = url_result.read()#read() method returns the byte array.
json_data=json.loads(data)
print(json_data)

{'type': 'success', 'value': {'id': 15, 'joke': 'When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.', 'categories': []}}

##### JSON is a syntax for storing and exchanging data.
JSON is text, written with JavaScript object notation.

In [ ]:
print(dict_joke)